.container {
  float: left;
  width: 40%;
  min-height: 100px;
  margin: 5px;
}

.child {
  background-color: gray;
  padding: 5px;
}

.father {
  background-color: royalblue;
}

#div1, #div2 {
  float: left;
  width: 100px;
  height: 35px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}