<div>
  <div class='wrapper'>
    <div class='out-container' [dragula]='"first-bag"'>
      <div class='inside-container one-for-third-container' [dragula]='"second-bag"'>
        <span class="handle">+</span>
        <div>
            123
        </div>
      </div>
      <div class='inside-container two-for-third-container' [dragula]='"second-bag"'>
          <span class="handle">+</span>More interactive use cases lie ahead</div>
      <div class='inside-container half-container' [dragula]='"second-bag"'>Make sure to check out the <a href='https://github.com/bevacqua/dragula#readme'>documentation on GitHub!</a></div>
      <div class='inside-container half-container' [dragula]='"second-bag"'>You can move these elements between these two containers</div>
      <div class='inside-container half-container' [dragula]='"second-bag"'>Moving them anywhere else isn't quite possible</div>
      <div class='inside-container half-container' [dragula]='"second-bag"'>There's also the possibility of moving elements around in the same container, changing their position</div>
    </div>
  </div>
</div>

<h1>Html5 drag test</h1>
<app-html5-drag-prac></app-html5-drag-prac>
<h1 style="clear:both">ngx-dnd test</h1>
<app-ngx-dnd-prac></app-ngx-dnd-prac>